<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="euromillones.ateneasystems.es.euromillones">

    <!-- Permisos de la APP -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Aplicacion -->
    <application
        android:name=".ZDatosTemporales"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login_Activity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PrivateActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".Registro"
            android:label="@string/title_activity_registro"
            android:parentActivityName=".Login_Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="euromillones.ateneasystems.es.euromillones.Login_Activity" />
        </activity>
        <activity
            android:name=".PostRegistroActivity"
            android:label="@string/title_activity_post_registro"
            android:parentActivityName=".Login_Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="euromillones.ateneasystems.es.euromillones.Login_Activity" />
        </activity>
    </application>

</manifest>
