<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="euromillones.ateneasystems.es.euromillones" >

    <!-- Permisos -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.NFC" />

    <permission
        android:name="euromillones.ateneasystems.es.euromillones.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="euromillones.ateneasystems.es.euromillones.permission.C2D_MESSAGE" />
    <!-- FIN Permisos -->


    <!-- Componentes del Dispositivo -->
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />

    <!-- FIN Componentes del Dispositivo -->
    <!-- Aplicacion -->
    <application
        android:name=".Clases.ZDatosTemporales"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Login_Activity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- Lo siguiente es para cuando se intente acceder al Link de AteneaSystems.es -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="www.ateneasystems.es" android:scheme="http" />
            </intent-filter>
            <!-- Fin del Link de AteneaSystems.es -->
        </activity>
        <activity
            android:name=".PrivateActivity"
            android:label="@string/app_name" >

            <!-- para que se abra con el NFC -->
            <!--
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".Registro"
            android:label="@string/title_activity_registro"
            android:parentActivityName=".Login_Activity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="euromillones.ateneasystems.es.euromillones.Login_Activity" />
        </activity>
        <activity
            android:name=".OpcionesActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".CambioPassActivity"
            android:label="@string/title_activity_cambiar_pass"
            android:parentActivityName=".Login_Activity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="euromillones.ateneasystems.es.euromillones.Login_Activity" />
        </activity>
        <activity
            android:name=".PostRegistroActivity"
            android:label="@string/title_activity_post_registro"
            android:parentActivityName=".Login_Activity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="euromillones.ateneasystems.es.euromillones.Login_Activity" />
        </activity>
        <activity
            android:name=".NFCActivity"
            android:label="@string/title_activity_nfc"
            android:parentActivityName=".PrivateActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="euromillones.ateneasystems.es.euromillones.PrivateActivity" />
        </activity>
        <!-- Receiver -->
        <receiver
            android:name=".GCM.ZGCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="net.sgoliver.android.newgcm" />
            </intent-filter>
        </receiver>
        <!-- FIN Receiver -->
        <!-- Service -->
        <service android:name=".GCM.ZGCMIntentService" />
        <!-- FIN Service -->

        <activity
            android:name=".RestorePass"
            android:label="@string/title_activity_restore_pass"
            android:parentActivityName=".Login_Activity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="euromillones.ateneasystems.es.euromillones.Login_Activity" />
        </activity>
    </application>

</manifest>
